@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&family=Trispace:wght@100;300;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;  
}

body{
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom: 1px solid #828282;
}

.block{
    max-width: 940px;
    margin: 0px 5px;
}

.text{
    color: #828282;
    font-size: 18px;
    font-weight: 300;
}

.text__bold{
    font-weight: 900;
    color: black; 
}

.text__shadow{
    text-shadow: 2px 2px 4px #828282;
}

.home{
    margin-bottom: 50px;
}

.home__text{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    margin: 50px 0px;
}

.home__text__name{
    width: 120px;
    font-size: 40px;
    
}

.home__text__job{
    width: 160px;
    vertical-align: bottom; 
    margin-bottom: 5px;
}

.language__switch{
    writing-mode: vertical-rl;
    display: flex;
    margin-bottom: 5px;
    font-weight: 600;
}

.switch__RU{
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

.switch__ENG{
    padding-top: 3px;
}

.switch__click{
    color: black;
}

.avatar{
    width: 100%;
}

.about-me{
    background-color: #F6F6F6;
}

.about-me__text{
    width: 485px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 18px;
}

.about-me__text h1{
    margin-bottom: 30px;
}
